@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

:root {
	--light: #fffff2;
	--dark: #133337;
	--accent: #ff8396;
}

.theme {
	background-color: var(--light);
	color: var(--dark);
	a {
		color: var(--dark);
	}
}

@media (prefers-color-scheme: dark) {
	.theme {
		background-color: var(--dark);
		color: var(--light);
		a {
			color: var(--light);
		}
	}
}

html {
	font-family: "Fira Code", monospace;
	font-optical-sizing: auto;
	font-weight: 200;
	font-style: normal;
}

body {
	min-height: 98vh;
	padding: 0.5rem;
	justify-content: flex-start;
	width: 90%;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

nav {
	display: flex;
	gap: 0.5rem;
}

a {
	background: linear-gradient(
		to bottom,
		var(--accent) 0%,
		var(--accent) 100%
	);
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 4px 4px;
	border-radius: 2px;
	padding: 0.25rem;
	margin: 0.25rem 0.25rem 0.25rem 0;
	text-decoration: none;
	transition: background-size 0.3s;
}

a:hover {
	background-size: 4px 50px;
}

.blogLinks {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.backBtn {
	padding: 1rem 0;
}

.footer {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-top: auto;
}

hr {
	color: var(--accent);
	width: 100%;
}

@media (min-width: 1500px) {
	body {
		margin: 0 auto;
		max-width: 1000px;
	}
}
